@model MadLibs.Models.Words

<!DOCTYPE html>
<html>
  <head>
    <title>DAFFYNITIONS</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <meta charset='utf-8'>
  </head>
  
  <body>
  <h1>DAFFYNITIONS</h1>
  <br>
    
  <p>A GHOST is supposed to be the spirit of a dead @Model.Noun1</p>
  <p>Most ghosts appear as white @Model.PluralNoun1 floating in the @Model.Noun2.</p>
  <p>Ghosts are known to haunt @Model.PluralNoun2.</p>
  <p>GARGOYLES are carved @Model.PluralNoun3 with hideous faces and @Model.PluralNoun4.</p>
  <p>The most famous gargoyles are on top of the Notre Dame @Model.Noun4.</p>
  In Medieval times, they were believed to ward off evil @Model.PluralNoun5.</p>
  A Ghoul, in Asian folklore, is a/an @Model.Adjective1 spirit that</p>
  <p>@Model.Verb1 graves and feeds on the @Model.PluralNoun6 of the dead.</p>
  <p>A Goblin is believed to be a/an @Model.Adjective2 fiend with a</p>
  <p>misshapen @Model.Noun5. Like all wicked @Model.PluralNoun7, they delight</p>
  <p>in scaring the @Model.Noun6 out of you.</p>
    
  </body>
</html>
